
/* rockets styling */
.container {
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 3rem;
}

.rocket-image {
  max-width: 350px;
  height: auto;
}

.rockets-item {
  display: flex;
  gap: 1rem;
}

.rockets-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.rocket-btn {
  background-color: #1d4ed8;
  width: 150px;
}

.btn {
  padding: 0.4rem;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  color: #fff;
  border-radius: 6px;
}

.cancel-btn {
  background-color: #e11d48;
  width: 160px;
}

.reserved {
  background-color: #15803d;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  font-size: small;
  margin: 0 4px;
  margin-bottom: 20px;
  padding: 3px;
  cursor: pointer;
}

.paragraph {
  line-height: 20px;
  width: 70%;
}
